@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }

  .layout {
    padding: 0 15px; // Adjusted padding for better phone compatibility
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin: 20px 0 50px; // Adjusted margin for better phone compatibility
  }

  .header {
    padding: 15px 0; // Adjusted padding for better phone compatibility
  }

  .posts__date {
    width: 100%;
    margin-bottom: 8px;
  }

  .header__nav__item--title {
    margin-right: 15px; // Adjusted margin for better phone compatibility
  }

  .footer {
    display: block;
  }

  .footer__list--social {
    margin-top: 10px;
  }

  .header__nav__item {
    margin-right: 10px; // Adjusted margin for better phone compatibility
  }

  .header__title {
    margin-right: 20px; // Adjusted margin for better phone compatibility
  }
}
