---
title: projects
---

{% for project in site[page.collection] reversed %}
  {% if project.path contains 'projects/' %}
    {% cycle 'add row' : '<div class="row">', '', '' %}
        <div class="column column-33">
            <div class="projects-preview">
                <a href="{{ project.url | prepend: site.url }}">
                  <div class="preview-images">
                    <img src="{{ site.url }}/assets/images/{{ project.slug }}-preview.png">
                    <div class="overlay">
                      <div class="text">{{ project.title }}<br><br><small><i>{{ project.instrumentation }}</i><br><small>{{ project.year }}</small></small></div>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    {% cycle 'end row' : '', '', '</div>' %}
  {% endif %}
{% endfor %}
